# Tell git to ignore:

# - The usual suspects,
.DS_Store
*.pyc

# - the built binary,
bin/clack

# - the external dependencies
# clack/contrib/click
# clack/contrib/httplib2
# clack/contrib/urllib3

# - the distribution files,
dist/*
!dist/.empty

# - and anything temporary.
tmp/*
!tmp/.empty